@using BlazorApp1.Data
@inject GeneratedColumnsService ColumnService
<Banner Title="Async Component That Generates <th> From a Class" />
@if (columns == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <tbody>
                <tr>
                @foreach (var col in columns)
                {
                    <td>
                        @col.HeaderName<br/>
                        @col.NumberFound<br/>
                        @col.Icon<br/>
                        @col.Date.ToShortDateString()<br />
                        @col.Summary
                    </td>
                }
                </tr>
        </tbody>
    </table>
}


@code {
    private ColumnData[]? columns;
    private int numColumns;
    protected override async Task OnInitializedAsync()
    {
        columns = await ColumnService.GetColumnsAsync(DateOnly.FromDateTime(DateTime.Now));
        numColumns = columns.Count();
    }
}
